*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    background: black;
    color: #fff;
    height: 100vh;
    background-position: center;
    margin: auto;
    max-width: 30%;
    position: relative;
   /* max-width: 450px; */
}
#text{
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    width: 100%;
    padding: .5remrem;
}
#preTextBox{
    position: absolute;
    bottom:50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    text-align: center;
    width: 90%;
    text-shadow: 2px 2px 20px #000;
}
#file{
    display: none;
}
.upload{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    position: absolute;
    width: 60px;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}
@media  (min-width:250px) and (max-width:300px) {
    .container{
        max-width: 100%;
    }
}
@media  (min-width:301px) and (max-width:450px) {
    .container{
        max-width: 100%;
    }
}
@media  (min-width:450px) and (max-width:600px) {
    .container{
        max-width: 100%;
    }
}
@media  (min-width:601px) and (max-width:750px) {
    .container{
        max-width: 100%;
    }
}
@media  (min-width:751px) and (max-width:991px) {
    .container{
        max-width: 80%;
    }
}